/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8f9fa;
  color: #333;
}

/* テーブルのスタイル */
table {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* キャプションのスタイル */
caption {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

/* ヘッダーのスタイル */
thead th {
  background-color: #007bff;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

/* セルのスタイル */
tbody td,
tbody th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* 行のホバーエフェクト */
tbody tr:hover {
  background-color: #f1f1f1;
}

/* スマートフォン対応 */
@media (max-width: 600px) {
  table {
    font-size: 0.9em;
  }
  caption {
    font-size: 1.2em;
  }
}

#loading {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5)
    url("https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif") 50% 50%
    no-repeat;
}
